pipeline/eal_s_arpt_daily_load.json
{
	"name": "eal_s_arpt_daily_load",
	"properties": {
		"activities": [
			{
				"name": "Call d_daily_load_Update",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "d_daily_load_update",
						"type": "DataFlowReference",
						"parameters": {
							"dt": {
								"value": "'@{variables('row_num')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Call d_daily_load_Insert",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Call d_daily_load_Update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "d_daily_load_insert",
						"type": "DataFlowReference",
						"parameters": {
							"dt": "'2021-01-27'"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Net Row Number",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ARPT_ID) FROM [dbo].[D_ARPT]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_d_aprt",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Net Row Number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "row_num",
					"value": {
						"value": "@activity('Get Net Row Number').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"dt": {
				"type": "String"
			},
			"row_num": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Airport"
		},
		"annotations": []
	}
}