pipeline/eal_f_equip_schd_load.json
{
	"name": "eal_f_equip_schd_load",
	"properties": {
		"activities": [
			{
				"name": "Call d_daily_load_Update",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable Last Updated Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "f_equip_schd_update",
						"type": "DataFlowReference",
						"parameters": {
							"date": "'1899-01-01'",
							"row_num": "0"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Call d_daily_load_Insert",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Call d_daily_load_Update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "f_equip_schd_insert",
						"type": "DataFlowReference",
						"parameters": {
							"date": "'1899-01-01'",
							"row_num": "0"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Last Row Number",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max([EQP_SCHED_ID]) as row FROM [dbo].[F_EQUIP_SCHD]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_d_aprt",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Last Updated Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_f_equip_schd_load'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "eal_adf_cntrl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Update Control Table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Call d_daily_load_Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "adf_control",
						"type": "DataFlowReference",
						"parameters": {
							"run_id": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"adf_name": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable Last Updated Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Last Updated Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "dt",
					"value": {
						"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Last Row Number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Last Row Number').output['value'][0]['row'],NULL)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Row Count",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "row_num",
								"value": {
									"value": "@string(activity('Get Last Row Number').output['value'][0]['row'])",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Row Count as 0",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "row_num",
								"value": {
									"value": "@string('0')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"dt": {
				"type": "String"
			},
			"row_num": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Equip Schedule"
		},
		"annotations": []
	}
}