eal-adf-d/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eal-adf-d"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/s_flights_delay_load')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Flights"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "eal_az_flights_delay",
								"type": "DatasetReference"
							},
							"name": "FlightsDelayBlob"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_s_flights_delay",
								"type": "DatasetReference"
							},
							"name": "WriteStagingDelay"
						}
					],
					"transformations": [
						{
							"name": "AddADFColumns"
						}
					],
					"script": "parameters{\n\trun_id as string ('')\n}\nsource(output(\n\t\tflight_id as string,\n\t\tdelay_type as string,\n\t\tduration_mins as string,\n\t\tdelay_code as string,\n\t\tdelay_code_name as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> FlightsDelayBlob\nFlightsDelayBlob derive(ADF_TIME_STMP = currentTimestamp(),\n\t\tADF_RUN_ID = $run_id) ~> AddADFColumns\nAddADFColumns sink(input(\n\t\tFLT_ID as long,\n\t\tDLAY_TYP as string,\n\t\tDURTN_MNT as integer,\n\t\tDLAY_CD as string,\n\t\tDLAY_CD_NAME as string,\n\t\tADF_TIME_STMP as timestamp,\n\t\tADF_RUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tmapColumn(\n\t\tFLT_ID = flight_id,\n\t\tDLAY_TYP = delay_type,\n\t\tDURTN_MNT = duration_mins,\n\t\tDLAY_CD = delay_code,\n\t\tDLAY_CD_NAME = delay_code_name,\n\t\tADF_TIME_STMP,\n\t\tADF_RUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> WriteStagingDelay"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/s_flights_load')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Flights"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "eal_az_flights",
								"type": "DatasetReference"
							},
							"name": "BlobFlights"
						},
						{
							"dataset": {
								"referenceName": "eal_ac_bdavis_Airports",
								"type": "DatasetReference"
							},
							"name": "BdavisAirport"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_flights_rej",
								"type": "DatasetReference"
							},
							"name": "Reject"
						},
						{
							"dataset": {
								"referenceName": "sql_s_flights",
								"type": "DatasetReference"
							},
							"name": "StagingFlights"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "IATAAirportExists"
						},
						{
							"name": "IATAAirportDoesntExists1"
						},
						{
							"name": "ICAOAirportExists"
						},
						{
							"name": "ExsistUnion"
						},
						{
							"name": "ICAOAirportdoesntExists"
						},
						{
							"name": "RejectUnion1"
						},
						{
							"name": "NullRejectReason"
						},
						{
							"name": "AddRejectReason2"
						},
						{
							"name": "ConditionalSplit2"
						},
						{
							"name": "FilterUnion1"
						},
						{
							"name": "ConditionalSplit3"
						},
						{
							"name": "IATAAirportDoesntExists2"
						},
						{
							"name": "ICAOAirportExists2"
						},
						{
							"name": "ICAOAirportdoesntExists2"
						},
						{
							"name": "AddRejectReason3"
						},
						{
							"name": "RejectUnion2"
						},
						{
							"name": "FilterUnion2"
						},
						{
							"name": "ConditionalSplit4"
						},
						{
							"name": "IATAAirportExists3"
						},
						{
							"name": "IATAAirportDoesntExists3"
						},
						{
							"name": "IATAAirportExists2"
						},
						{
							"name": "ICAOAirportExists3"
						},
						{
							"name": "ICAOAirportdoesntExists3"
						},
						{
							"name": "FilterUnion3"
						},
						{
							"name": "AddRejectReason4"
						},
						{
							"name": "ExistUnion2"
						},
						{
							"name": "ExistUnion3"
						},
						{
							"name": "RejectUnion3"
						},
						{
							"name": "SchdArrvlAirportNull"
						},
						{
							"name": "IATAAirportDoesntExists4"
						},
						{
							"name": "ICAOAirportExists4"
						},
						{
							"name": "ICAOAirportDoesntExists4"
						},
						{
							"name": "IATAAirportExists4"
						},
						{
							"name": "ExistUnion4"
						},
						{
							"name": "FilterUnion4"
						},
						{
							"name": "AddRejectReason5"
						},
						{
							"name": "SchdDptrAirportNull"
						},
						{
							"name": "IATAAirportDoesntExists5"
						},
						{
							"name": "ICAOAirportExists5"
						},
						{
							"name": "ICAOAirportDoesntExists5"
						},
						{
							"name": "IATAAirportExists5"
						},
						{
							"name": "ExistUnion5"
						},
						{
							"name": "FilterUnion5"
						},
						{
							"name": "AddRejectReason6"
						},
						{
							"name": "RejectUnion4"
						},
						{
							"name": "RejectUnion5"
						},
						{
							"name": "AddADFColumns"
						},
						{
							"name": "AddADFColumns2"
						},
						{
							"name": "TypeConvertion"
						},
						{
							"name": "RemoveDuplicates"
						},
						{
							"name": "FilterRows"
						},
						{
							"name": "ConditionalSplit5"
						},
						{
							"name": "OOOIRejectReason"
						},
						{
							"name": "ConditionalSplit6"
						},
						{
							"name": "EstSchdRejectReason"
						},
						{
							"name": "UnionNullRejection"
						},
						{
							"name": "UnionOOOIRejection"
						}
					],
					"script": "parameters{\n\trun_id as string (''),\n\tdate as string ('2021-02-09')\n}\nsource(output(\n\t\tflight_id as string,\n\t\tflight_number as string,\n\t\tflight_date as string,\n\t\taircraft_registration_number as string,\n\t\taircraft_type as string,\n\t\tscheduled_departure as string,\n\t\tscheduled_arrival as string,\n\t\testimated_departure as string,\n\t\testimated_arrival as string,\n\t\tactual_oooi_out as string,\n\t\tactual_oooi_off as string,\n\t\tactual_oooi_on as string,\n\t\tactual_oooi_in as string,\n\t\tbase_airport as string,\n\t\tscheduled_departure_airport as string,\n\t\tscheduled_arrival_airport as string,\n\t\tactual_departure_airport as string,\n\t\tactual_arrival_airport as string,\n\t\tis_verified as boolean,\n\t\tnotes as string,\n\t\tis_canceled as boolean,\n\t\tflight_type as string,\n\t\tcargo_weight as string,\n\t\tfuel_out as string,\n\t\tfuel_in as string,\n\t\tfuel_uplift as string,\n\t\tmaint_log_page as string,\n\t\tupdated_at as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> BlobFlights\nsource(output(\n\t\tAirport_Name as string,\n\t\tCity as string,\n\t\tCountry as string,\n\t\tIATA as string,\n\t\tICAO as string,\n\t\tLatitude as double,\n\t\tLongitude as double,\n\t\tAltitude as integer,\n\t\tUTC_offset as double,\n\t\tDST as string,\n\t\tTime_Zone as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> BdavisAirport\nFilterRows split(isNull(flight_date) || isNull(flight_id) || isNull(flight_number) || isNull(flight_type) || isNull(SCHDD_DPTR) || isNull(UPDTD_AT),\n\tdisjoint: false) ~> ConditionalSplit1@(NullReject, NullAcpt)\nConditionalSplit2@ActlArrvlAirportNotNull, BdavisAirport exists(actual_arrival_airport == IATA,\n\tnegate:false,\n\tbroadcast: 'auto')~> IATAAirportExists\nConditionalSplit2@ActlArrvlAirportNotNull, BdavisAirport exists(actual_arrival_airport == IATA,\n\tnegate:true,\n\tbroadcast: 'auto')~> IATAAirportDoesntExists1\nIATAAirportDoesntExists1, BdavisAirport exists(toString(actual_arrival_airport)  == ICAO,\n\tnegate:false,\n\tbroadcast: 'auto')~> ICAOAirportExists\nIATAAirportExists, ICAOAirportExists union(byName: true)~> ExsistUnion\nIATAAirportDoesntExists1, BdavisAirport exists(actual_arrival_airport == ICAO,\n\tnegate:true,\n\tbroadcast: 'auto')~> ICAOAirportdoesntExists\nAddRejectReason2, UnionOOOIRejection union(byName: true)~> RejectUnion1\nConditionalSplit1@NullReject derive(Reject_Reason = \"Null Error\") ~> NullRejectReason\nICAOAirportdoesntExists derive(Reject_Reason = \"Invalid ACTL_ARRVL Airport Name\") ~> AddRejectReason2\nConditionalSplit6@EstSchdAcpt split(isNull(actual_arrival_airport),\n\tdisjoint: false) ~> ConditionalSplit2@(ActlArrvlAirportNull, ActlArrvlAirportNotNull)\nExsistUnion, ConditionalSplit2@ActlArrvlAirportNull union(byName: true)~> FilterUnion1\nFilterUnion1 split(isNull(actual_departure_airport),\n\tdisjoint: false) ~> ConditionalSplit3@(ActlDptrAirportNull, ActlDptrAirportNotNull)\nConditionalSplit3@ActlDptrAirportNotNull, BdavisAirport exists(actual_departure_airport == IATA,\n\tnegate:true,\n\tbroadcast: 'auto')~> IATAAirportDoesntExists2\nIATAAirportDoesntExists2, BdavisAirport exists(actual_departure_airport == ICAO,\n\tnegate:false,\n\tbroadcast: 'auto')~> ICAOAirportExists2\nIATAAirportDoesntExists2, BdavisAirport exists(actual_departure_airport == ICAO,\n\tnegate:true,\n\tbroadcast: 'auto')~> ICAOAirportdoesntExists2\nICAOAirportdoesntExists2 derive(Reject_Reason = \"Actl Dptr Airport Name not found\") ~> AddRejectReason3\nRejectUnion1, AddRejectReason3 union(byName: true)~> RejectUnion2\nExistUnion2, ConditionalSplit3@ActlDptrAirportNull union(byName: true)~> FilterUnion2\nFilterUnion2 split(isNull(base_airport),\n\tdisjoint: false) ~> ConditionalSplit4@(BaseAirportNull, BaseAirportNotNull)\nConditionalSplit4@BaseAirportNotNull, BdavisAirport exists(base_airport == IATA,\n\tnegate:false,\n\tbroadcast: 'auto')~> IATAAirportExists3\nConditionalSplit4@BaseAirportNotNull, BdavisAirport exists(base_airport == IATA,\n\tnegate:true,\n\tbroadcast: 'auto')~> IATAAirportDoesntExists3\nConditionalSplit3@ActlDptrAirportNotNull, BdavisAirport exists(actual_departure_airport == IATA,\n\tnegate:false,\n\tbroadcast: 'auto')~> IATAAirportExists2\nIATAAirportDoesntExists3, BdavisAirport exists(base_airport == ICAO,\n\tnegate:false,\n\tbroadcast: 'auto')~> ICAOAirportExists3\nIATAAirportDoesntExists3, BdavisAirport exists(base_airport == ICAO,\n\tnegate:true,\n\tbroadcast: 'auto')~> ICAOAirportdoesntExists3\nExistUnion3, ConditionalSplit4@BaseAirportNull union(byName: true)~> FilterUnion3\nICAOAirportdoesntExists3 derive(Reject_Reason = \"Base Airport Name not found\") ~> AddRejectReason4\nICAOAirportExists2, IATAAirportExists2 union(byName: true)~> ExistUnion2\nIATAAirportExists3, ICAOAirportExists3 union(byName: true)~> ExistUnion3\nRejectUnion2, AddRejectReason4 union(byName: true)~> RejectUnion3\nFilterUnion3 split(isNull(scheduled_arrival_airport),\n\tdisjoint: false) ~> SchdArrvlAirportNull@(SchdArrvlAirportNull, SchdArrvlAirportNotNull)\nSchdArrvlAirportNull@SchdArrvlAirportNotNull, BdavisAirport exists(scheduled_arrival_airport == IATA,\n\tnegate:true,\n\tbroadcast: 'auto')~> IATAAirportDoesntExists4\nIATAAirportDoesntExists4, BdavisAirport exists(scheduled_arrival_airport == ICAO,\n\tnegate:false,\n\tbroadcast: 'auto')~> ICAOAirportExists4\nIATAAirportDoesntExists4, BdavisAirport exists(scheduled_arrival_airport == ICAO,\n\tnegate:true,\n\tbroadcast: 'auto')~> ICAOAirportDoesntExists4\nSchdArrvlAirportNull@SchdArrvlAirportNotNull, BdavisAirport exists(scheduled_arrival_airport == IATA,\n\tnegate:false,\n\tbroadcast: 'auto')~> IATAAirportExists4\nICAOAirportExists4, IATAAirportExists4 union(byName: true)~> ExistUnion4\nExistUnion4, SchdArrvlAirportNull@SchdArrvlAirportNull union(byName: true)~> FilterUnion4\nICAOAirportDoesntExists4 derive(Reject_Reason = \"Schd Arrvl Airport Name not found\") ~> AddRejectReason5\nFilterUnion4 split(isNull(scheduled_departure_airport),\n\tdisjoint: false) ~> SchdDptrAirportNull@(SchdDptrAirportNull, SchdDptrAirportNotNull)\nSchdDptrAirportNull@SchdDptrAirportNotNull, BdavisAirport exists(scheduled_departure_airport == IATA,\n\tnegate:true,\n\tbroadcast: 'auto')~> IATAAirportDoesntExists5\nIATAAirportDoesntExists5, BdavisAirport exists(scheduled_departure_airport == ICAO,\n\tnegate:false,\n\tbroadcast: 'auto')~> ICAOAirportExists5\nIATAAirportDoesntExists5, BdavisAirport exists(scheduled_departure_airport == ICAO,\n\tnegate:true,\n\tbroadcast: 'auto')~> ICAOAirportDoesntExists5\nSchdDptrAirportNull@SchdDptrAirportNotNull, BdavisAirport exists(scheduled_departure_airport == IATA,\n\tnegate:false,\n\tbroadcast: 'auto')~> IATAAirportExists5\nICAOAirportExists5, IATAAirportExists5 union(byName: true)~> ExistUnion5\nExistUnion5, SchdDptrAirportNull@SchdDptrAirportNull union(byName: true)~> FilterUnion5\nICAOAirportDoesntExists5 derive(Reject_Reason = \"Schd Dptr Airport Name not found\") ~> AddRejectReason6\nRejectUnion3, AddRejectReason5 union(byName: true)~> RejectUnion4\nRejectUnion4, AddRejectReason6 union(byName: true)~> RejectUnion5\nRejectUnion5 derive(ADF_TIME_STMP = currentTimestamp(),\n\t\tADF_RUN_ID = $run_id) ~> AddADFColumns\nFilterUnion5 derive(ADF_TIME_STMP = currentTimestamp(),\n\t\tADF_RUN_ID = $run_id) ~> AddADFColumns2\nBlobFlights derive(ACTL_OOOI_IN = toTimestamp(actual_oooi_in),\n\t\tACTL_OOOI_OFF = toTimestamp(actual_oooi_off),\n\t\tACTL_OOOI_ON = toTimestamp(actual_oooi_on),\n\t\tACTL_OOOI_OUT = toTimestamp(actual_oooi_out),\n\t\tESTD_ARRVL = toTimestamp(estimated_arrival),\n\t\tESTD_DPTR = toTimestamp(estimated_departure),\n\t\tSCHDD_ARRVL = toTimestamp(scheduled_arrival),\n\t\tSCHDD_DPTR = toTimestamp(scheduled_departure),\n\t\tUPDTD_AT = toTimestamp(updated_at)) ~> TypeConvertion\nTypeConvertion select(mapColumn(\n\t\tflight_id,\n\t\tflight_number,\n\t\tflight_date,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tscheduled_departure_airport,\n\t\tscheduled_arrival_airport,\n\t\tactual_departure_airport,\n\t\tactual_arrival_airport,\n\t\tis_verified,\n\t\tnotes,\n\t\tis_canceled,\n\t\tflight_type,\n\t\tcargo_weight,\n\t\tfuel_out,\n\t\tfuel_in,\n\t\tfuel_uplift,\n\t\tmaint_log_page,\n\t\tACTL_OOOI_IN,\n\t\tACTL_OOOI_OFF,\n\t\tACTL_OOOI_ON,\n\t\tACTL_OOOI_OUT,\n\t\tESTD_ARRVL,\n\t\tESTD_DPTR,\n\t\tSCHDD_ARRVL,\n\t\tSCHDD_DPTR,\n\t\tUPDTD_AT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> RemoveDuplicates\nRemoveDuplicates filter(toDate(UPDTD_AT)  >= toDate($date) && toDate(UPDTD_AT) < currentDate()) ~> FilterRows\nConditionalSplit1@NullAcpt split(iif(isNull(ACTL_OOOI_IN), false(), iif(isNull(ACTL_OOOI_ON), iif(isNull(ACTL_OOOI_OUT), false(), ACTL_OOOI_IN<ACTL_OOOI_OUT), ACTL_OOOI_IN<ACTL_OOOI_ON)) || \r\niif(isNull(ACTL_OOOI_OFF), iif(isNull(ACTL_OOOI_ON), false(),true()), iif(isNull(ACTL_OOOI_OUT), false(), ACTL_OOOI_OFF<ACTL_OOOI_OUT)) ||\r\niif(isNull(ACTL_OOOI_ON), iif(isNull(ACTL_OOOI_IN), iif(isNull(ACTL_OOOI_OFF), false(),true()),true()),iif(isNull(ACTL_OOOI_OFF), false(), ACTL_OOOI_ON<=ACTL_OOOI_OFF)) ||\r\niif(isNull(ACTL_OOOI_OUT), iif(isNull(ACTL_OOOI_OFF), false(), true()), false()),\n\tdisjoint: false) ~> ConditionalSplit5@(OOOIReject, OOOIAcpt)\nConditionalSplit5@OOOIReject derive(Reject_Reason = \"OOOI Validation Error\") ~> OOOIRejectReason\nConditionalSplit5@OOOIAcpt split(iif(isNull(ESTD_ARRVL), false() ,iif(isNull(ESTD_DPTR), false(), ESTD_ARRVL<ESTD_DPTR))  ||\r\niif(isNull(SCHDD_ARRVL), true(), SCHDD_ARRVL<SCHDD_DPTR) ,\n\tdisjoint: false) ~> ConditionalSplit6@(EstSchdReject, EstSchdAcpt)\nConditionalSplit6@EstSchdReject derive(Reject_Reason = \"Estimated or Scheduled Arrival Validation Error\") ~> EstSchdRejectReason\nEstSchdRejectReason, NullRejectReason union(byName: true)~> UnionNullRejection\nUnionNullRejection, OOOIRejectReason union(byName: true)~> UnionOOOIRejection\nAddADFColumns sink(input(\n\t\tACTL_ARRVL_AIR_PORT as string,\n\t\tACTL_DPTR_AIR_PORT as string,\n\t\tACTL_OOOI_IN as timestamp,\n\t\tACTL_OOOI_OFF as timestamp,\n\t\tACTL_OOOI_ON as timestamp,\n\t\tACTL_OOOI_OUT as timestamp,\n\t\tAIR_CRAFT_RGSTRN_NUM as string,\n\t\tAIR_CRAFT_TYPE as string,\n\t\tBASE_AIR_PORT as string,\n\t\tCRGO_WGT as integer,\n\t\tESTD_ARRVL as timestamp,\n\t\tESTD_DPTR as timestamp,\n\t\tFLT_DT as date,\n\t\tFLT_ID as long,\n\t\tFLT_NUM as string,\n\t\tFLT_TYPE as string,\n\t\tFUEL_IN as double,\n\t\tFUEL_OUT as double,\n\t\tFUEL_UPLIFT as integer,\n\t\tIS_CNCLD as boolean,\n\t\tIS_VERFD as boolean,\n\t\tMAINT_LOG_PG as string,\n\t\tNOTES as string,\n\t\tSCHDD_ARRVL as timestamp,\n\t\tSCHDD_ARRVL_AIR_PORT as string,\n\t\tSCHDD_DPTR as timestamp,\n\t\tSCHDD_DPTR_AIR_PORT as string,\n\t\tUPDTD_AT as timestamp,\n\t\tREJECT_REASON as string,\n\t\tADF_TIME_STMP as timestamp,\n\t\tADF_RUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tACTL_ARRVL_AIR_PORT = actual_arrival_airport,\n\t\tACTL_DPTR_AIR_PORT = actual_departure_airport,\n\t\tACTL_OOOI_IN,\n\t\tACTL_OOOI_OFF,\n\t\tACTL_OOOI_ON,\n\t\tACTL_OOOI_OUT,\n\t\tAIR_CRAFT_RGSTRN_NUM = aircraft_registration_number,\n\t\tAIR_CRAFT_TYPE = aircraft_type,\n\t\tBASE_AIR_PORT = base_airport,\n\t\tCRGO_WGT = cargo_weight,\n\t\tESTD_ARRVL,\n\t\tESTD_DPTR,\n\t\tFLT_DT = flight_date,\n\t\tFLT_ID = flight_id,\n\t\tFLT_NUM = flight_number,\n\t\tFLT_TYPE = flight_type,\n\t\tFUEL_IN = fuel_in,\n\t\tFUEL_OUT = fuel_out,\n\t\tFUEL_UPLIFT = fuel_uplift,\n\t\tIS_CNCLD = is_canceled,\n\t\tIS_VERFD = is_verified,\n\t\tMAINT_LOG_PG = maint_log_page,\n\t\tNOTES = notes,\n\t\tSCHDD_ARRVL,\n\t\tSCHDD_ARRVL_AIR_PORT = scheduled_arrival_airport,\n\t\tSCHDD_DPTR,\n\t\tSCHDD_DPTR_AIR_PORT = scheduled_departure_airport,\n\t\tUPDTD_AT,\n\t\tREJECT_REASON = Reject_Reason,\n\t\tADF_TIME_STMP,\n\t\tADF_RUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> Reject\nAddADFColumns2 sink(input(\n\t\tACTL_ARRVL_AIR_PORT as string,\n\t\tACTL_DPTR_AIR_PORT as string,\n\t\tACTL_OOOI_IN as timestamp,\n\t\tACTL_OOOI_OFF as timestamp,\n\t\tACTL_OOOI_ON as timestamp,\n\t\tACTL_OOOI_OUT as timestamp,\n\t\tAIR_CRAFT_RGSTRN_NUM as string,\n\t\tAIR_CRAFT_TYPE as string,\n\t\tBASE_AIR_PORT as string,\n\t\tCRGO_WGT as integer,\n\t\tESTD_ARRVL as timestamp,\n\t\tESTD_DPTR as timestamp,\n\t\tFLT_DT as date,\n\t\tFLT_ID as long,\n\t\tFLT_NUM as string,\n\t\tFLT_TYPE as string,\n\t\tFUEL_IN as double,\n\t\tFUEL_OUT as double,\n\t\tFUEL_UPLIFT as integer,\n\t\tIS_CNCLD as boolean,\n\t\tIS_VERFD as boolean,\n\t\tMAINT_LOG_PG as string,\n\t\tNOTES as string,\n\t\tSCHDD_ARRVL as timestamp,\n\t\tSCHDD_ARRVL_AIR_PORT as string,\n\t\tSCHDD_DPTR as timestamp,\n\t\tSCHDD_DPTR_AIR_PORT as string,\n\t\tUPDTD_AT as timestamp,\n\t\tADF_TIME_STMP as timestamp,\n\t\tADF_RUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tmapColumn(\n\t\tACTL_ARRVL_AIR_PORT = actual_arrival_airport,\n\t\tACTL_DPTR_AIR_PORT = actual_departure_airport,\n\t\tACTL_OOOI_IN,\n\t\tACTL_OOOI_OFF,\n\t\tACTL_OOOI_ON,\n\t\tACTL_OOOI_OUT,\n\t\tAIR_CRAFT_RGSTRN_NUM = aircraft_registration_number,\n\t\tAIR_CRAFT_TYPE = aircraft_type,\n\t\tBASE_AIR_PORT = base_airport,\n\t\tCRGO_WGT = cargo_weight,\n\t\tESTD_ARRVL,\n\t\tESTD_DPTR,\n\t\tFLT_DT = flight_date,\n\t\tFLT_ID = flight_id,\n\t\tFLT_NUM = flight_number,\n\t\tFLT_TYPE = flight_type,\n\t\tFUEL_IN = fuel_in,\n\t\tFUEL_OUT = fuel_out,\n\t\tFUEL_UPLIFT = fuel_uplift,\n\t\tIS_CNCLD = is_canceled,\n\t\tIS_VERFD = is_verified,\n\t\tMAINT_LOG_PG = maint_log_page,\n\t\tNOTES = notes,\n\t\tSCHDD_ARRVL,\n\t\tSCHDD_ARRVL_AIR_PORT = scheduled_arrival_airport,\n\t\tSCHDD_DPTR,\n\t\tSCHDD_DPTR_AIR_PORT = scheduled_departure_airport,\n\t\tUPDTD_AT,\n\t\tADF_TIME_STMP,\n\t\tADF_RUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> StagingFlights"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_d_arpt_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call d_daily_load_Update",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "d_arpt_daily_load_update",
								"type": "DataFlowReference",
								"parameters": {
									"dt": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StgArpt": {},
									"DARPT": {},
									"WriteUpdates": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Call d_daily_load_Insert",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call d_daily_load_Update",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "d_arpt_daily_load_insert",
								"type": "DataFlowReference",
								"parameters": {
									"dt": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									},
									"row_num": {
										"value": "@int(variables('row_num'))",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StgArpt": {},
									"WriteNewRows": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Row Number",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(ARPT_ID) as row FROM [dbo].[D_ARPT]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_d_aprt",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_d_arpt_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call d_daily_load_Insert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Set variable Last Updated Date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "dt",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Last Row Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Last Row Number').output['value'][0]['row'],NULL)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Row Count",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string(activity('Get Last Row Number').output['value'][0]['row'])",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Row Count as 0",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string('0')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"dt": {
						"type": "String"
					},
					"row_num": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Airport"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_f_equip_schd_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call d_daily_load_Update",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "f_equip_schd_load_update",
								"type": "DataFlowReference",
								"parameters": {
									"date": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StgEquipSchd": {},
									"EquipSchd": {},
									"UpdateRows": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Call d_daily_load_Insert",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call d_daily_load_Update",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "f_equip_schd_load_insert",
								"type": "DataFlowReference",
								"parameters": {
									"date": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									},
									"row_num": {
										"value": "@variables('row_num')",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StgEquipSchd": {},
									"InsertRows": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Row Number",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max([EQP_SCHED_ID]) as row FROM [dbo].[F_EQUIP_SCHD]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_d_aprt",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_f_equip_schd_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call d_daily_load_Insert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Set variable Last Updated Date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "dt",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Last Row Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Last Row Number').output['value'][0]['row'],NULL)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Row Count",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string(activity('Get Last Row Number').output['value'][0]['row'])",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Row Count as 0",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string('0')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"dt": {
						"type": "String"
					},
					"row_num": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Equip Schedule"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_f_flights_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Call f_flights_update",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "f_flights_load_update",
								"type": "DataFlowReference",
								"parameters": {
									"date": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StagingFlights": {},
									"ARPT": {},
									"CLNDR": {},
									"Flights": {},
									"FlightDelay": {},
									"Update": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Row Number",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(FLGHT_ID) as row FROM [dbo].[F_FLGHT_OPS]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_d_aprt",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT \n [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_f_flights_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call f_flights_insert",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Set variable Last Updated Date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "dt",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Last Row Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Last Row Number').output['value'][0]['row'],NULL)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Row Count",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string(activity('Get Last Row Number').output['value'][0]['row'])",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Row Count as 0",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "row_num",
										"value": {
											"value": "@string('0')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Call f_flights_insert",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call f_flights_update",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "f_flights_load_insert",
								"type": "DataFlowReference",
								"parameters": {
									"row_num": {
										"value": "@variables('row_num')",
										"type": "Expression"
									},
									"date": {
										"value": "'@{variables('dt')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StagingFlights": {},
									"ARPT": {},
									"CLNDR": {},
									"Flights": {},
									"FlightDelay": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"dt": {
						"type": "String"
					},
					"row_num": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Flights"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_reset_controls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Reset Controls",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_reset_dataflow",
								"type": "DataFlowReference",
								"parameters": {
									"job_name": "'eal_stg_flights_load'"
								},
								"datasetParameters": {
									"GetControls": {},
									"WriteResetDate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_stg_arpt_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from BDAVIS to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sql_bdavis_test_arpt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "eal_arpt_az_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Write Data to Staging",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s_arpt_load",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"date": {
										"value": "'@{variables('date')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ArptBlob": {},
									"StgAirports": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Write Data to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data from BDAVIS to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_stg_arpt_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Airport"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_stg_equip_schd_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from Postgres to Azure Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "eal_postgresql_equip_schd",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "eal_az_equipment_schd",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Call s_equip_schd_load",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s_equip_schd_load",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"date": {
										"value": "'@{variables('date')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"StgEquipSchd": {},
									"EquipReject": {},
									"EquipStg": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data from Postgres to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_stg_equip_schd_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call s_equip_schd_load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Equip Schedule"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/eal_stg_flights_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy flights table from postgresql to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "eal_postgresql_flights_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "eal_az_flights",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Write Data to Staging",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s_flights_load",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"date": {
										"value": "'@{variables('date')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"BlobFlights": {},
									"BdavisAirport": {},
									"Reject": {},
									"StagingFlights": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Write Data to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADFCONTROL": {},
									"Write": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy flights delay table from postgresql to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_stg_flights_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy flights delay table from postgresql to blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy flights table from postgresql to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "eal_postgresql_delay_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "eal_az_flights_delay",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Move FlightsDelay to Staging",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy flights delay table from postgresql to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s_flights_delay_load",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"FlightsDelayBlob": {},
									"WriteStagingDelay": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Flights"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/s_flights_load')]",
				"[concat(variables('factoryId'), '/dataflows/s_flights_delay_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging-Airport-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_stg_arpt_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_stg_arpt_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging-Equip-Schd-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_stg_equip_schd_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_stg_equip_schd_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Staging-Flights-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_stg_flights_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_stg_flights_load')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDW-Airport-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_d_arpt_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "Staging-Flights-Trigger",
								"type": "TriggerReference"
							}
						},
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "Staging-Airport-Trigger",
								"type": "TriggerReference"
							}
						},
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "Staging-Equip-Schd-Trigger",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_d_arpt_load')]",
				"[concat(variables('factoryId'), '/triggers/Staging-Flights-Trigger')]",
				"[concat(variables('factoryId'), '/triggers/Staging-Airport-Trigger')]",
				"[concat(variables('factoryId'), '/triggers/Staging-Equip-Schd-Trigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDW-Equip-Schd-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_f_equip_schd_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "EDW-Airport-Trigger",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_f_equip_schd_load')]",
				"[concat(variables('factoryId'), '/triggers/EDW-Airport-Trigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDW-Flights-Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "eal_f_flights_load",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-02-06T09:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "EDW-Equip-Schd-Trigger",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/eal_f_flights_load')]",
				"[concat(variables('factoryId'), '/triggers/EDW-Equip-Schd-Trigger')]"
			]
		}
	]
}