eal-adf-d/PartialArmTemplates/ArmTemplate_2_5_2021_1_44_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eal-adf-d"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/eal_stg_equip_schd_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from Postgres to Azure Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "eal_postgresql_equip_schd",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "eal_az_equipment_schd",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call s_equip_schd_load",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s_equip_schd_load",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"date": {
										"value": "'@{variables('date')}'",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Get Last Updated Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data from Postgres to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ADF_SUC_TS]\n  FROM [dbo].[S_ADF_CNTRL] where ADF_JOB_NAME = 'eal_stg_equip_schd_load'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "eal_adf_cntrl",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set variable date",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Last Updated Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "date",
							"value": {
								"value": "@string(activity('Get Last Updated Date').output['value'][0]['ADF_SUC_TS'])",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Update Control Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Call s_equip_schd_load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "adf_control",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									},
									"adf_name": {
										"value": "'@{pipeline().Pipeline}'",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Equip Schedule"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_s_flights')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "eal_sqldb_STG",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination Table/Staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ACTL_ARRVL_AIR_PORT",
						"type": "text"
					},
					{
						"name": "ACTL_DPTR_AIR_PORT",
						"type": "text"
					},
					{
						"name": "ACTL_OOOI_IN",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTL_OOOI_OFF",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTL_OOOI_ON",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ACTL_OOOI_OUT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "AIR_CRAFT_RGSTRN_NUM",
						"type": "text"
					},
					{
						"name": "AIR_CRAFT_TYPE",
						"type": "text"
					},
					{
						"name": "BASE_AIR_PORT",
						"type": "text"
					},
					{
						"name": "CRGO_WGT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ESTD_ARRVL",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ESTD_DPTR",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FLT_DT",
						"type": "date"
					},
					{
						"name": "FLT_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "FLT_NUM",
						"type": "text"
					},
					{
						"name": "FLT_TYPE",
						"type": "text"
					},
					{
						"name": "FUEL_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FUEL_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FUEL_UPLIFT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IS_CNCLD",
						"type": "bit"
					},
					{
						"name": "IS_VERFD",
						"type": "bit"
					},
					{
						"name": "MAINT_LOG_PG",
						"type": "text"
					},
					{
						"name": "NOTES",
						"type": "text"
					},
					{
						"name": "SCHDD_ARRVL",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SCHDD_ARRVL_AIR_PORT",
						"type": "text"
					},
					{
						"name": "SCHDD_DPTR",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SCHDD_DPTR_AIR_PORT",
						"type": "text"
					},
					{
						"name": "UPDTD_AT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DLAY_TYP",
						"type": "text"
					},
					{
						"name": "DURTN_MNT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DLAY_CD",
						"type": "text"
					},
					{
						"name": "DLAY_CD_NAME",
						"type": "text"
					},
					{
						"name": "ADF_TIME_STMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ADF_RUN_ID",
						"type": "text"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "S_FLIGHTS"
				}
			},
			"dependsOn": []
		}
	]
}